.card-toselect:hover {
  background: #6b6b6b;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.clickable-icon:hover {
  cursor: pointer;
  color: green;
}

.sum-badge{
  font-size: 20px;
}